body {
  margin: 0;
}
#uw-thinstrip {
  height: 65px;
  width: 100%;
  background: #4b2e83;
  padding: 0px;
  margin: 0px;
  position: relative;
  z-index: 2;
}
#uw-thinstrip .container {
  position: relative;
  padding: 0 0px;
  margin-left: 15px;
  margin-right: 120px;
}

#uw-thinstrip .uwlib-wordmark {
  max-width: 100%;
  height: auto;
  border: none;
}
#uw-thinstrip .ask-us {
  margin: 0;
  position: absolute;
  z-index: 1;
  padding: 0;
  right: 0;
  background-color: #666;
  height: 65px;
  width: 100px;
}
#uw-thinstrip .ask-us a{
  display: block;
  font-family: verdana, Arial, sans-serif;
  text-transform: lowercase;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  float: right;
  padding: 18px;
}
#uw-thinstrip .ask-us a:hover,
#uw-thinstrip .ask-us a:focus {
  color: #D7A900;
}
#uw-thinstrip .ask-us::before {
    content: '';
    height: 65px;
    width: 65px;
    background-color: #666;
    position: absolute;
    top: 0;
    left: 0px;
    transform: skewX(165deg);
    transform-origin: top;
    -webkit-transform: skewX(165deg);
    -webkit-transform-origin: 0 0;
	-ms-transform: skewX(165deg);
	-ms-transform-origin: 0 0;
}